		<div id="editor-header">
			<div id="editor-header-view"></div>
			<div id="editor-header-edit" class="container-fluid">
				<div class="row">
					<div id="editor-header-title" class="col col-xs-6 col-md-4 col-md-push-4">{{ activeScene.project.title }} {{ activeScene.title }}</div>
					<div id="editor-header-info" class="col col-xs-2 col-xs-push-1 col-md-4 col-md-push-0 col-md-pull-4 editor-icons" ng-controller="MediaController">
						<form name="fileUpload">
							<button id="btn-upload-photosphere" class="btn btn-danger pull-left action" ng-file-select ng-model="files" multiple ng-multiple-"true" ng-accept="'audio/*,image/*,video/*'" ng-file-change="upload(files)">
								<i class="fa fa-upload fa-1x"></i>
								<span>Upload <span>Photosphere</span></span>
							</button>
						</form>
					</div>
<!--
					<div id="editor-header-info" class="col col-xs-4 editor-icons">
						<a class="btn btn-danger pull-left action">
							<i class="fa fa-upload fa-1x"></i>
							<span>Upload Photosphere</span>
						</a>
					</div>
-->
					<div id="editor-header-actions" class="col col-xs-4 col-md-4 editor-icons">
						<a id="btn-preview" class="btn btn-warning action" href="/{{ activeScene.project.shortname }}/{{ activeScene.shortname }}" target="_blank">
							<i class="fa fa-play fa-1x"></i>
							<span>Preview</span>
						</a>
						<a id="btn-save" class="btn btn-primary action">
							<i class="fa fa-floppy-o fa-1x"></i>
							<span>Save</span>
						</a>
					</div>
				</div>

			</div>
		</div>

		<div id="viewer-loading" ng-if="!projectLoaded">
			<div id="viewer-loading-text"></div>
		  <div class="spinner sphere" id="sphere">
		    <div class="inner">
		      <div class="disc"></div>
		      <div class="disc"></div>
		      <div class="disc"></div>
		    </div>
 		 </div>
		</div>

        <div
          id="editor-viewer"
          class=""
          spherecast-editor
          width="canvasWidth"
          height="canvasHeight"
          scale="scale"
          vrMode="vrMode"
          isMobile="isMobile"
          goFullscreen="goFullscreen"
          requireTapToContinue="requireTapToContinue"
          activeScene="activeScene"
          ng-if="projectLoaded"
        ></div>

		<div id="editor-footer" spherecast-editor-scenes-tiles>
			<ul id="scenes-tiles">
				<li ng-repeat="projectScene in activeScene.scenes">
					<a href="/{{ activeScene.project.shortname }}/{{ projectScene.shortname }}/edit">
						<img src="http://app.spherecast.org/api/media/{{ projectScene.projectId }}/{{ projectScene.backgroundMedia }}/thumbnail/120" alt="" />
						<span class="title">{{ $index + 1 }}</span>
					</a>
				</li>
			</ul>
		</div>

        <div id="editor-toolbar"></div>

        <div id="viewer-hidden" style="display: none;">
        	<input ng-Model="session" type="text" />
        	<input ng-Model="activeScene" type="text" />
        </div>