		<nav class="navbar navbar-inverse navbar-fixed-top" ng-disabled="{{ embedded }}">
			<div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <button type="button" class="btn btn-warning action">
		          	<i class="fa fa-gear fa-1x"></i>
		          </button>
		          <button type="button" class="btn btn-primary action">
		          	<i class="fa fa-files-o fa-1x"></i>
		          </button>
		          <button type="button" class="btn btn-danger action">
		          	<i class="fa fa-upload fa-1x"></i>
		          </button>
		          <a class="navbar-brand"></a>
		        </div>
				<div class="navbar-collapse collapse" id="navbar"></div><!--/.navbar-collapse -->
			</div>
		</nav>
