    <div class="container" ng-controller="ProjectController">
		<div id="title" class="row">
			<div class="span6 pull-right">
				<p class="buttons">
					<a class="btn btn-primary" ng-click="showCreate = !showCreate" role="button">Create Project</a>
				</p>
			</div>
			<div class="span6">
				<h1>Projects</h1>
			</div>
		</div>

		<div class="row" ng-show="showCreate">
			<div class="col col-xs-12 span12">
				<form ng-submit="submitProject()">
					<div class="form-group">
						<input type="text" class="form-control input-lg" name="title" ng-model="projectData.title" placeholder="Title of project" />
					</div>

					<div class="form-group">
						<textarea class="form-control input-lg" name="description" ng-model="projectData.description" rows="5" placeholder="Enter a description" style="width: 100%;"></textarea>
					</div>

					<div class="form-group text-right">
						<button type="submit" class="btn btn-primary btn-md">Submit</button>
					</div>
				</form>
			</div>
		</div>

      <div id="project-list" class="row">
        <div class="project-list-item col-md-4" data-ng-repeat="project in projects">
        	<div class="item-container">
	        	<div class="item-background">
	        		<img data-ng-src="{{ project.image }}" alt="" />
	        	</div>
	        	<div class="item-content">
					<h2>{{ project.title }}</h2>
					<p class="description">{{ project.description }}</p>
					<p class="buttons">
						<a class="btn btn-default" href="/#/{{ project.id }}/edit" role="button">Edit project &raquo;</a>
						<a class="btn btn-default" href="/#/{{ project.id }}" role="button">Play spherecast &raquo;</a>
						<a class="arrow" href="/#/{{ project.id }}/edit" role="button">
							<i class="fa fa-angle-right fa-4x"></i>
						</a>
					</p>
	        	</div>
        	</div>
        </div>
      </div>
