    <div class="container">
		<div id="title" class="row">
			<div class="span6 pull-right">
				<p class="buttons">
					<a class="btn btn-danger upload" role="button"><i class="fa fa-upload fa-1x"></i> <span>Upload</span></a>
					<a class="btn btn-primary files" role="button"><i class="fa fa-files-o fa-1x"></i> <span>File Manager</span></a>
					<a class="btn btn-success play" href="http://spherecast.org/ocean/" target="_blank" role="button"><i class="fa fa-play fa-1x"></i> <span>Play Spherecast</span></a>
					<a class="btn btn-warning settings" role="button"><i class="fa fa-gear fa-1x"></i> <span>Settings</span></a>
				</p>
			</div>
			<div class="span6">
				<h1>Scenes<br /><span class="subtitle">Ocean Exploration</span></h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="scene-list" class="gridder">
			<div class="gridder-list first" data-ng-repeat="scene in scenes">
				<div class="gridder-container">
					<div class="gridder-thumb">
						<img data-ng-src="{{ scene.filepath }}" data-bigimage="http://placehold.it/250x175" alt="" />
						<span class="overlay">{{ scene.title }}</span>
					</div>
					<div class="gridder-content">
					</div>
				</div>
			</div>

			<div id="editview" viewer-scene-editor scene-file="494679425abebbdeb7457822e9dcff2d4273de0b"></div>

			<div class="gridder-show">
				<div class="gridder-show-content">
					<div class="viewer-container" ng-controller="AppCtrl">
						<div class="viewer-content">
					        <div
					          id="webglContainer" 
					          ng-webgl
					          width="canvasWidth"
					          height="canvasHeight"
					          fillcontainer="dofillcontainer"
					          scale="scale"
					          activeProject="activeProject"
					        ></div>
						</div>
						<div class="viewer-toolbar bottom">
							<a class="vr pull-left" title="Toggle Mode" onclick="javascript:alert('test')">
								<img src="assets/images/googlecardboard.png" alt="" />
							</a>
<!--
							<a class="expand" title="Full Screen">
								<i class="fa fa-expand fa-2x"></i>
							</a>
-->
							<a class="settings" title="Edit Scene Background">
								<i class="fa fa-edit fa-2x"></i>
							</a>
							<a class="hotspot" title="Add Audio Track">
								<i class="fa fa-microphone fa-2x"></i>
							</a>
							<a class="hotspot" ="#" title="Add Hotspot">
								<i class="fa fa-bullseye fa-2x"></i>
							</a>
<!--
							<a class="play" title="Play Scene">
								<i class="fa fa-play fa-2x"></i>
							</a>
-->
						</div>
					</div>

					<div class="viewer-toolbar-left">
						<div class="slider">Scale crosshairs/hotspot</div>
						<div class="slider">Zoom in/out</div>
					</div>

					<!-- For show/hide see http://www.bennadel.com/blog/2440-creating-a-custom-show-hide-directive-in-angularjs.htm -->
					<div class="viewer-options">
						<div class="viewer-options-collapse">
							<a class="viewer-options-toggle" ng-click="toggleViewerOptions()" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-angle-double-down fa-3x"></i>
							</a>
						</div>

						<!-- One event can have multiple actions. -->
						<div data-ng-show="showViewerOptions" id="viewer-options-content" class="viewer-options-content collapse" aria-labelledby="Scene Options">
							<ul class="nav nav-pills nav-justified" role="tablist">
								<li role="presentation" class="active">
									<a href="#starts" data-toggle="pill"><span class="hidden-xs">When Scene</span> Starts</a>
								</li>
								<li role="presentation" class="">
									<a href="#ends" data-toggle="pill"><span class="hidden-xs">Before Scene</span> Ends</a>
								</li>
								<li role="presentation" class="">
									<a href="#triggers" data-toggle="pill">Triggers</a>
								</li>
								<li role="presentation" class="">
									<a href="#settings" data-toggle="pill">Settings</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane fade active in" id="starts">
									<ul>
										<li>
											<span class="hotspot">
												<a class="btn btn-sm btn-danger pull-right"><i class="fa fa-gear"> Edit</i></a>
												<i class="fa fa-angle-double-down"></i>
												Event
											</span>
											<ol>
												<li class="audio gray">
													Play audio: <a><b>ocean-ambient.mp3</b></a>
												</li>
											</ol>
										</li>

										<li>
											<span class="hotspot">
												<a class="btn btn-sm btn-danger pull-right"><i class="fa fa-gear"> Edit</i></a>
												<i class="fa fa-angle-double-down"></i>
												Event
											</span>
											<ol>
												<li class="text">
													<a href=""><span class="duration"><i class="fa fa-clock-o"></i> 5 sec</span></a>
													Display text: <b>The following photo spheres were taken from the Catlin Seaview Survey</b>
												</li>
												<li class="text">
													<span class="duration"><i class="fa fa-clock-o"></i> 5 sec</span>
													Display text: <b>The following photo spheres were taken from the Catlin Seaview Survey</b>
												</li>
												<li class="text">
													<span class="duration"><i class="fa fa-clock-o"></i> 5 sec</span>
													Display text: <b>The following photo spheres were taken from the Catlin Seaview Survey</b>
												</li>
												<li class="jump">
													Jump to Scene: <a><b>Entering the Depths</b></a>
												</li>
											</ol>
										</li>
									</ul>
								</div>

								<div class="tab-pane fade" id="ends">
									<ul>
										<li>
											<span class="hotspot">
												<a class="btn btn-sm btn-danger pull-right"><i class="fa fa-gear"> Edit</i></a>
												<i class="fa fa-angle-double-down"></i>
												Event
											</span>
											<ol>
												<li class="video">
													Play video: <a><b>welcome.mp3</b></a>
												</li>
											</ol>
										</li>
									</ul>
								</div>

								<div class="tab-pane fade" id="triggers">
									<ul>
										<li>
											<span class="hotspot">
												<a class="btn btn-sm btn-danger pull-right"><i class="fa fa-gear"> Edit</i></a>
												<i class="fa fa-angle-double-down"></i>
												Hotspot at <b>5.05, 107.32, 90.68</b>
											</span>
											<ol>
												<li class="text">
													<a><span class="duration"><i class="fa fa-clock-o"></i> 2 sec</span></a>
													Display text: <b>Coral</b>
												</li>
											</ol>
										</li>
										<li>
											<span class="hotspot">
												<a class="btn btn-sm btn-danger pull-right"><i class="fa fa-gear"> Edit</i></a>
												<i class="fa fa-angle-double-down"></i>
												Hotspot at <b>-30.25, 50.58, 125.12</b>
											</span>
											<ol>
												<li class="text">
													<a><span class="duration"><i class="fa fa-clock-o"></i> 2 sec</span></a>
													Display text: <b>Shark</b>
												</li>
											</ol>
										</li>
										<li>
											<span class="hotspot">
												<a class="btn btn-sm btn-danger pull-right"><i class="fa fa-gear"> Edit</i></a>
												<i class="fa fa-angle-double-down"></i>
												Hotspot at <b>47.30, -75.22, 59.58</b>
											</span>
											<ol>
												<li class="text">
													<a><span class="duration"><i class="fa fa-clock-o"></i> 2 sec</span></a>
													Display text: <b>Jellyfish</b>
												</li>
												<li class="text">
													<a><span class="duration"><i class="fa fa-clock-o"></i> 7 sec</span></a>
													Display text: <b>Jellyfish are found in every ocean, from the surface to the deep sea.</b>
												</li>
												<li class="text">
													<a><span class="duration"><i class="fa fa-clock-o"></i> 7 sec</span></a>
													Display text: <b>They have roamed the seas for at least 500 million years, making them the oldest multi-organ animal.</b>
												</li>
											</ol>
										</li>
									</ul>
								</div>

								<div class="tab-pane fade" id="settings">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
