    <div class="container">
		<div class="row" ng-controller="MediaController">
			<div class="col col-xs-12 span12">
				<form name="fileUpload">
					<div class="form-group">
<!--
						<input type="file" ng-file-select="" ng-model="files" ng-file-change="upload($files)" ng-multiple="true" accept="image/*,audio/*,video/*" />
-->
						<button ng-file-select ng-model="files" multiple ng-multiple-"true" ng-accept="'audio/*,image/*,video/*'" ng-file-change="upload(files)">Upload</button>
					</div>
				</form>
			</div>
		</div>

		<div class="row" ng-controller="SceneController">
			<div class="span6 pull-right">
				<p class="buttons">
					<a class="btn btn-primary" ng-click="showEditScene = !showEditScene" role="button">Create Scene</a>
				</p>
			</div>
			<div class="span6">
			</div>
		</div>

		<div class="row" ng-controller="SceneController" ng-show="">
			<div class="col col-xs-12 span12">
				<form ng-submit="submitScene()">
					<div class="form-group">
						<input type="text" class="form-control input-lg" name="title" ng-model="sceneData.title" placeholder="Title of scene" />
					</div>

					<div class="form-group">
						<select ng-model="scene.background" ng-options="mediaitem.id as mediaitem.filename for mediaitem in media"></select>
						<textarea class="form-control input-lg" name="description" ng-model="sceneData.description" rows="5" placeholder="Enter a description" style="width: 100%;"></textarea>
					</div>

					<div class="form-group text-right">
						<button type="submit" class="btn btn-primary btn-md">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>