	<div id="upgrade-browser">
		<span ng-show="Detectizr.os.name != 'ios'">
			<p><a href="http://spherecast.org/" target="_blank">Spherecast</a> requires WebGL support. Your browser is not compatible.</p>
		</span>
		<p>
			<span ng-show="Detectizr.os.name == 'android'">
				You're using an Android device. You must have at least Android 4.0 for Spherecast to work properly.
				<span ng-show="Detectizr.browser.name != 'chrome'">
					Please try using <a href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=en" target="_blank">Chrome</a> as your browser.
				</span>
				<span ng-show="Modernizr.deviceOrientation == false">
					Note that your device may lack a gyroscope, and as a result can't be used as a virtual reality device with Spherecast.
				</span>
			</span>
			<span ng-show="Detectizr.os.name == 'ios'">
<!--
				You're using an iOS device. You must have at least iOS 8 for Spherecast to work properly.
-->
				<span ng-show="Detectizr.browser.name != 'chrome'">
					Safari is not currently supported, but support is coming soon! Please try using <a href="https://itunes.apple.com/us/app/chrome-web-browser-by-google/id535886823?mt=8">Chrome</a> as your browser for now.
				</span>
				<span ng-show="Modernizr.deviceOrientation == false">
					Note that your device may lack a gyroscope, and as a result can't be used as a virtual reality device with Spherecast.
				</span>
			</span>
			<span ng-show="Detectizr.os.name == 'windows'">
				You're using a Windows device. Please try using the latest version of <a href="http://www.google.com/chrome/" target="_blank">Chrome</a> (recommended),
				<a href="http://getfirefox.com" target="_blank">Firefox</a>, or <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> (least recommended due to incompatibility issues).
			</span>
		</p>
	</div>