#editor-header
{
/*
	position: absolute;
	z-index: 110;
	background-color: #000000;
	height: 65px;
	opacity: 0.8;
	padding: 15px 15px 15px 15px;
	width: 100%;
*/
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #000000;
	height: 65px;
	padding: 15px 15px 15px 15px;
	width: 100%;
}

#editor-header-info
{
	overflow: hidden;
	text-transform: uppercase;
}

#editor-header-title
{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	height: 1.25em;
	line-height: 1.25em;
	margin: 0px auto;
	overflow: hidden;
	text-align: center;
}

#editor-header-actions
{
/*
	overflow: hidden;
	text-align: right;
*/
}

.editor-icons
{
	text-align: right;
}

	.editor-icons a
	{
		margin: 0px 10px 0px 0px;
		text-transform: uppercase;
	}

		.editor-icons a:last-child
		{
			margin-right: 0px;
		}

	.editor-icons button
	{
		text-transform: uppercase;
	}

#editor-viewer
{
	position: fixed;
	top: 65px;
	bottom: 65px;
	left: 0px;
	right: 0px;
	background-color: #666666;
	overflow: hidden;
}

#editor-footer
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #000000;
	height: 80px;
	overflow: hidden;
	padding: 0px;
	width: 100%;
}

ul#scenes-tiles
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

	ul#scenes-tiles li
	{
		position: relative;
		float: left;
		height: 80px;
		overflow: hidden;
		width: 120px;
	}

		ul#scenes-tiles li a
		{
			background-color: #000000;
			cursor: pointer;
			display: block;
			height: 100%;
			position: relative;
			width: 100%;
		}

			ul#scenes-tiles li a:hover
			{
				opacity: 0.75;
			}
			

		ul#scenes-tiles span.title
		{
			position: absolute;
			bottom: 0px;
			color: #ffffff;
			display: block;
			font-size: 24px;
			letter-spacing: 1px;
			text-align: center;
			text-shadow:
				-1px -1px 0 #000000,
				1px -1px 0 #000000,
				-1px 1px 0 #000000,
				1px 1px 0 #000000;
			width: 100%;
		}

		ul#scenes-tiles img
		{
			border: solid 1px #000000;
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			width: 100%;
			height: 100%;
		}

