@media screen and (max-width: 991px)
{
	.editor-icons
	{
		text-align: left;
	}

	#editor-header-title
	{
		font-size: 16px;
		height: 40px;
		overflow: hidden;
		text-align: left;
	}

	#editor-header-info button#btn-upload-photosphere span
	{
		display: none;
	}

	#editor-header-actions a#btn-preview span,
	#editor-header-actions a#btn-save span
	{
		display: none;
	}

}