/* GRIDDER CSS */
.gridder {
	width:100%;
	margin:0 auto;
	font-size:0
}

.gridder-list {
	display:inline-block;
	*display:inline;
	white-space-collapsing:discard;
	zoom:1;
	width:16.66%;
	margin-right:0px;
	margin-bottom:1%;
	background:transparent;
	cursor:pointer;
	position:relative
}

.gridder-list .gridder-container
{
	padding: 5px;
}

.gridder-list .gridder-thumb
{
	position: relative;
	background-color: #222222;
	display: block;
	padding-top: 70%;
	width: 100%;
}

.gridder-list .gridder-thumb .overlay {
	position:absolute;
	box-sizing:border-box;
	color:#000;
	z-index:1;
	text-align:center;
	left:0;
	bottom:0;
	font-weight:400;
	display:block;
	background:#f7f7f7;
	width:100%;
	padding:10px 0;
	font-size:12px;
	opacity:0
}

.gridder-list .gridder-thumb .overlay span {
	font-weight:11px;
	display:block
}

.gridder-list .gridder-thumb img
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.gridder-list:hover .overlay {
	opacity:.8
}

.gridder-list.first {
	margin-left:0
}

.gridder-list.imactive {
	margin-bottom:12px;
}

.gridder-list.imactive:after {
	content:"";
	width:0;
	height:0;
	border-style:solid;
	border-width:0 14px 12px;
	border-color:transparent transparent #e8e8e8;
	display:block;
	position:absolute;
	bottom:0;
	left:40%;
	margin-bottom:-12px;
}

.gridder-image,.gridder-content {
	display:none
}

.gridder-show {
	text-align:center;
	position:relative;
	background:#e8e8e8;
	float:left;
	padding:0;
	color:#000;
	overflow:hidden;
	/* font-size:0; */
	width:100%;
	/* padding:5%; */
	margin-bottom:1%
}
/*
.gridder-show .image {
	float:left;
	width:50%;
	margin-left:50px
}

.gridder-show .content {
	float:right;
	width:30%;
	text-align:left;
	margin-right:50px
}

.gridder-show .content img {
	width:160px;
	float:left;
	margin-right:20px
}

.gridder-show .content h2 {
	font-weight:700;
	color:#b2083c;
	font-size:30px;
	margin:0;
	margin-bottom:15px
}

.gridder-show .content p {
	font-family:Arial;
	font-size:14px;
	margin:0;
	margin-bottom:20px;
	line-height:20px
}

.gridder-show .content a {
	cursor:pointer
}

.gridder-show .image {
	box-shadow:0 1px 4px #222;
	border:1px solid #222
}

.gridder-show .padding {
	display:none
}
*/
.gridder-show:after {
	content:".";
	display:block;
	height:0;
	overflow:hidden
}

.gridder-img:hover {
	opacity:.8
}

.gridder-float {
	float:left
}

.gridder-close {
	opacity:1;
	cursor:pointer;
	position:absolute;
	top:15px;
	right:15px;
	background:url(../images/close.png) no-repeat center center;
	width:13px;
	height:13px
}

.gridder-close:hover {
	opacity:1
}

.gridder-nav.prev {
	opacity:.7;
	cursor:pointer;
	position:absolute;
	top:50px;
	left:10px;
	background:url(../images/prev.png) no-repeat center center;
	width:40px;
	height:99px
}

.gridder-nav.next {
	opacity:.7;
	cursor:pointer;
	position:absolute;
	top:50px;
	right:10px;
	background:url(../images/next.png) no-repeat center center;
	width:40px;
	height:99px
}

.gridder-prev:hover {
	opacity:1
}

/* Media Queries
*********************************************/
/* Retina */
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */