@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

/* Move down content because we have a fixed navbar that is 50px tall */
*
{
	font-family: 'Open Sans', sans-serif;
}

html, body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body
{
	position: relative;
}

body.has-navbar
{
	padding-top: 50px;
	padding-bottom: 20px;
}

h1
{
	font-size: 24px;
}

	h1 .subtitle
	{
		font-size: 16px;
		text-transform: uppercase;
	}

#title
{
}

	#title p.buttons
	{
		margin-top: 15px;
	}

nav
{
	padding-bottom: 50px;
}

.navbar-header button.action
{
	display: none;
	float: right;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-right: 15px;
}

@media (max-width: 991px)
{
	#title p.buttons .upload,
	#title p.buttons .files,
	#title p.buttons .settings
	{
		display: none;
	}

	.navbar-header button.action
	{
		display: inline-block;
	}
}

#page
{
	height: 100%;
	position: absolute;
	width: 100%;
}

/* Project List */
#project-list
{
}

	@media (min-width: 992px)
	{
		#project-list .project-list-item
		{
			position: relative;
			margin-bottom: 20px;
		}

		#project-list .item-container
		{
			height: 175px;
			padding: 10px;
		}

		#project-list .item-background
		{
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: #330000;
			overflow: hidden;
			height: 100%;
			margin: 10px;
		}

			#project-list .item-background img
			{
				height: 100%;
				opacity: 0.5;
				width: 100%;
			}

		#project-list .item-content
		{
			position: relative;
			top: 0px;
			left: 0px;
			z-index: 10;
			color: #ffffff;
			height: 100%;
		}

		#project-list .item-content h2
		{
			color: #ffffff;
			font-size: 18px;
		}

		#project-list .item-content p.description
		{
			max-height: 4.5em;
			overflow: hidden;
		}

		#project-list .item-content p.buttons
		{
			position: absolute;
			bottom: 0px;
			left: 0px;
		}

		#project-list .item-content p.buttons a.arrow
		{
			display: none;
		}
	}

	@media (max-width: 991px)
	{
		#project-list .project-list-item
		{
			padding-bottom: 5px;
			padding-top: 5px;
		}

		#project-list .project-list-item:nth-of-type(odd)
		{
			background-color: #e8e8e8;
		}

		#project-list .item-background
		{
			display: none;
		}

		#project-list .item-content h2
		{
			font-size: 18px;
		}

		#project-list .item-content p.description
		{
			margin-right: 40px;
		}

		#project-list .item-content p.buttons a
		{
			display: none;
		}

		#project-list .item-content p.buttons a.arrow
		{
			position: absolute;
			top: 0px;
			right: 10px;
			z-index: 20;
			display: inline-block;
			height: 100%;
			text-align: right;
			width: 100%;
		}
	}

	@media (max-width: 760px)
	{
		#title
		{
			margin: 0px 1px 0px 1px;
		}
	}

/* Scene List */
#scene-list
{
	margin-top: 10px;
}
/*
	#scene-list .scene-list-item
	{
		margin-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}

	#scene-list .item-background
	{
		margin-bottom: 0px;
	}

		#scene-list .item-background img
		{
			width: 100%;
		}

	#scene-list .item-content
	{
		background-color: #666666;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 10px;
	}

		#scene-list .item-content h2
		{
			color: #ffffff;
			font-size: 14px;
			font-weight: normal;
			height: 2em;
			margin: 0px auto;
			text-align: center;
		}
*/

	/* Resize display window height based on width. */
	#scene-list .gridder-show
	{
		height: 100%;
	}

	#scene-list .gridder-show-content
	{
		height: 100%;
	}

	@media (max-width: 991px)
	{
		#scene-list .item-content
		{
			display: none;
		}
	
		#scene-list .gridder-list
		{
			width: 25%;
		}
	
		#scene-list .gridder-list .gridder-thumb .overlay
		{
			display: none;
		}

		#scene-list .gridder-list.imactive
		{
			margin-bottom: 4px;
		}

		#scene-list .gridder-list.imactive:after
		{
			margin-bottom: -9px;
		}

/* Viewer */
.viewer-container
{
	display: block;
	max-height: 480px;
	max-width: 960px;
	position: relative;
}

.viewer-content
{
	/* background-color: #000000; */
	height: auto;
	width: 100%;
}

.viewer-toolbar
{
	position: absolute;
	bottom: 0px;
	z-index: 10;
	background-color: transparent;
	clear: both;
	color: #ffffff;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	padding: 4px 8px 0px 8px;
	width: 100%;
}

	.viewer-toolbar a
	{
		color: #d0d0d0;
		float: right;
		margin-left: 20px;
		text-shadow: 0px 0px 2px #000000;
	}

	.viewer-toolbar a:hover
	{
		color: #ffffff;
	}

	.viewer-toolbar a.vr
	{
		margin-left: 0px;
		margin-top: -5px;
	}

.viewer-toolbar.top
{
	top: 0px;
}

.viewer-options
{
	clear: both;
	font-size: 12px;
	height: auto;
	padding: 4px 0px 4px 0px;
	width: 100%;
}

#viewer-options-content .tab-pane
{
	margin-top: 20px;
	min-height: 50px;
	padding: 0px 0px 20px 0px;
	text-align: left;
}

	#viewer-options-content .tab-pane ul
	{
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		width: 100%;
	}

		#viewer-options-content .tab-pane ul li
		{
			padding-bottom: 1em;
		}

		#viewer-options-content .tab-pane ul li .hotspot
		{
			/* background-color: #d9534f; */
			background-color: #e0e0e0;
			color: #444444;
			display: inline-block;
			font-size: 14px;
			overflow: hidden;
			padding: 5px 15px 5px 10px;
			width: 100%;
		}

	#viewer-options-content .tab-pane ol
	{
		margin-left: 1em;
		padding-left: 2em;
		width: 100%;
	}

		#viewer-options-content .tab-pane ol li
		{
			color: #444444;
			margin-bottom: 1em;
			padding-right: 30px;
			padding-top: 5px;
			width: 100%;
		}

		#viewer-options-content .tab-pane li .duration
		{
			background-color: #5cb85c;
			border-radius: 4px;
			border: solid 1px transparent;
			color: #ffffff;
			cursor: pointer;
			float: right;
			margin-left: 5px;
			margin-top: -2px;
			padding: 2px 5px 2px 5px;
		}

			#viewer-options-content .tab-pane li .duration i.fa
			{
			}

@media (max-width: 768px)
{
	#viewer-options-content .nav-justified > li
	{
		display: table-cell;
		width: 1%;
	}

	#viewer-options-content .nav-justified > li > a
	{
		border-bottom: 1px solid #ddd !important;
		border-radius: 4px 4px 0 0 !important;
		margin-bottom: 0 !important;
	}
}
/*
.viewer-container
{
	position: relative;
	box-sizing: border-box;
	padding-top: 50%;
	height: 100%;
	width: 100%;
}
	
.viewer-content
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
}

.viewer-toolbar
{
	background-color: #e8e8e8;
	clear: both;
	height: 30px;
	width: 100%;
}
*/

/* Settings */
#settings
{
}

	#settings .btn-group
	{
		
	}