#upgrade-browser
{
	position: absolute;
	top: 20px;
	left: 0px;
	right: 0px;
	height: 200px;
	max-width: 540px;
	min-width: 280px;
	margin: 0px auto;
	overflow: hidden;
	width: 40%;
}

#webglContainer
{
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#webglContainer.embedded-viewer
{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

canvas#sceneViewerCanvas
{
	position: relative;
}

canvas#cameraOrientation
{
	pointer-events: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	margin-top: 0px;
}

canvas#raycasterOrientation
{
	pointer-events: none;
	position: absolute;
	top: 25px;
	left: 0px;
	z-index: 1;
	margin-top: 0px;
}

canvas#hotspotCountdownCanvas
{
/*
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	opacity: 0.6;
	width: 200px;
*/
}

canvas.textCanvas, canvas.imageCanvas, canvas.videoCanvas, canvas.bufferCanvas, canvas.labelCanvas, audio
{
	display: none;
}

canvas.videoCanvas
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.viewer-toolbar a
{
	cursor: pointer;
}

.viewer-loading
{
	position: absolute;
	z-index: 100;
	/* background: #000000 url('/assets/images/circle-loading-animation.gif') center center no-repeat; */
	background: #000000 url('/assets/images/loading-text.png') center center no-repeat;
	height: 100%;
	width: 100%;
}

.viewer-loading-text
{
	position: absolute;
	top: 50%;
	left: 45%;
	color: #ffffff;
	font-size: 36px;
	margin: auto;
	text-align: center;
}

/* GENERAL */

@-webkit-keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}
@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* COLOR SPHERE */

@-webkit-keyframes sphereSpin {
  0% { -webkit-transform: rotateX(360deg) rotateY(0deg); }
  100% { -webkit-transform: rotateX(0deg) rotateY(360deg); }
}
@keyframes sphereSpin {
  0% { transform: rotateX(360deg) rotateY(0deg); }
  100% { transform: rotateX(0deg) rotateY(360deg); }
}

.spinner.sphere
{
	width: 18em;
	height: 18em;
	-webkit-transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
	transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.spinner .inner {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: sphereSpin 6s linear infinite;
  animation: sphereSpin 6s linear infinite;
}

.spinner.sphere .disc
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-color: #8841c0;
	border-radius: 100%;
	border-style: double none;
	border-width: 0.8em;
}

@-webkit-keyframes rotateDisc2 {
  from { -webkit-transform: rotateX(90deg) rotateZ(0deg); }
  to { -webkit-transform: rotateX(90deg) rotateZ(360deg); }
}
@keyframes rotateDisc2 {
  from { transform: rotateX(90deg) rotateZ(0deg); }
  to { transform: rotateX(90deg) rotateZ(360deg); }
}

@-webkit-keyframes rotateDisc3 {
  from { -webkit-transform: rotateY(90deg) rotateZ(0deg); }
  to { -webkit-transform: rotateY(90deg) rotateZ(360deg); }
}
@keyframes rotateDisc3 {
  from { transform: rotateY(90deg) rotateZ(0deg); }
  to { transform: rotateY(90deg) rotateZ(360deg); }
}

.spinner.sphere .disc:nth-child(1) {
  -webkit-animation: rotate 12s linear infinite;
  animation: rotate 12s linear infinite;
}
.spinner.sphere .disc:nth-child(2) {
  -webkit-animation: rotateDisc2 12s linear infinite;
  animation: rotateDisc2 12s linear infinite;
}
.spinner.sphere .disc:nth-child(3) {
  -webkit-animation: rotateDisc3 12s linear infinite;
  animation: rotateDisc3 12s linear infinite;
}

/* Tap to continue screen */
/* See http://css-tricks.com/perfect-full-page-background-image/ */
#viewer-continue
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;
	background: #000000 url('/assets/images/tap-to-continue.png') no-repeat center center fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
  	height: 100%;
	width: 100%;
}